<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-6 col-md-3 col-lg-2" *ngFor="let p of nike">
			<div class="card">
				<img class="card-img-top"  src="../../assets/images/{{p.image}}" alt="Card image">
				<div class="card-body">
				  <h4 class="card-title">{{p.title}}</h4>
				  
				  <div class="star">
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star "></i>
					<h5>{{p.price}} </h5>
					<button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#myModal">Add to cart</button>
				</div>
			
				</div>
			</div>
			<br>
		</div>
		<div class="col-6 col-md-3 col-lg-2" *ngFor="let h of vans">
			<div class="card">
				<img class="card-img-top"  src="../../assets/images/{{h.image}}" alt="Card image">
				<div class="card-body">
				  <h4 class="card-title">{{h.title}}</h4>
				  
				  <div class="star">
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star checked"></i>
					<i class="fas fa-star checked"></i>
					<h5>{{h.price}} </h5>
					<button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#myModal">Add to cart</button>
				</div>
			
				</div>
			</div>
			<br>
		</div>
	</div>
</div>