<div class="container-fluid contact">
  <div class="row-fluid">
    <div class="col-md-offset-4 col-md-4" id="box">
      <h2>Contact Us!</h2>

      <hr />

      <form class="form-horizontal" action=" " method="" id="contact_form">
        <fieldset>
          <!-- Form Name -->

          <!-- Text input-->

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-user "></i
                ></span>
                <input
                  name="first_name"
                  placeholder="Name"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-envelope"></i
                ></span>
                <input
                  name="email"
                  placeholder="E-Mail Address"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-earphone"></i
                ></span>
                <input
                  name="phone"
                  placeholder="(00961) 71- 888 999"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group">
            <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-pencil"></i
                ></span>
                <textarea
                  class="form-control"
                  name="comment"
                  placeholder="Message"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right">
                Send <span class="glyphicon glyphicon-send"></span>
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="container form">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img
          src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png"
          alt="stack photo"
          class="img"
        />
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom: 1px solid black">
          <h2>Ali Atwi  </h2>
        </div>
        <hr />
        <ul class="container details">
          <li>
            <p>
              <span
                class="glyphicon glyphicon-earphone one"
                style="width: 50px"
              ></span
              >+961 71 888 999
            </p>
          </li>
          <li>
            <p>
              <span
                class="glyphicon glyphicon-envelope one"
                style="width: 50px"
              ></span
              >aliatwiat5@gmail.com
            </p>
          </li>
          <li>
            <p>
              <span
                class="glyphicon glyphicon-map-marker one"
                style="width: 50px"
              ></span
              >Beirut-Lebanon 
            </p>
          </li>
          <li>
            <p>
              <span
                class="glyphicon glyphicon-new-window one"
                style="width: 50px"
              ></span
              ><a href="#">www.example.com</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>